@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('./index.css');
@import url('./responsive.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.font-code {
    font-family: 'JetBrains Mono', monospace;
    font-style: italic;
}

:root {
    --preto: #1B1C1E;
    --branco: #FEFDFB;
    --hover: #303030;
    --texto-hover: #e4e4e4;
    --border-btn: #303236;
    --bg-color-transparent: rgba(255, 255, 255, 0.11);
    --bg-color-modal: rgba(27, 28, 30, 0.897);
}

::selection {
    background-color: var(--bg-color-transparent);
    color: var(--branco);
}