.body-index {
    background: linear-gradient(288deg, #1B1C1E 0%, #0B0B0B 100%);
    height: 100vh;
}

.header-index {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.3rem;
    margin-bottom: 8rem;
}

.header-index .logo img {
    width: 10rem;
}

.container-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.badge-index {
    border: 1px solid var(--branco);
    background-color: var(--bg-color-transparent);
    color: var(--branco);
    border-radius: 1.5rem;
    padding: 0.3rem 0.9rem;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.badge-index img {
    width: 0.9rem;
    height: 0.9rem;
}

.title-index {
    color: var(--branco);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.title-index strong {
    font-family: Poppins;
    font-weight: 700;
}

.subtitle-index  {
    background: linear-gradient(90deg, #FEFDFB 0%, #989796 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Poppins;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.button-index a {
    text-decoration: none;
    color: var(--branco);
    font-size: 1rem;
}

.button-index .btn {
    border-radius: 3.125rem;
    border: 1px solid var(--border-btn);
    padding: 0.6rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all 0.3s ease;
}

.button-index .btn:hover {
    background-color: var(--hover);
    color: var(--texto-hover);
}

.button-index img {
    width: 0.9rem;
    height: 0.9rem;
    transition: all 0.3s ease;
}

.button-index .btn:hover img {
    transform: translateY(-2px);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--bg-color-modal);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: opacity 0.3s ease, z-index 0s linear 0.3s;
}

.modal-content {
    background-color: var(--preto);
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
    padding: 3rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content .logo-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.modal-content img {
    width: 10rem;
    height: auto;
}

.modal-content .text-modal p {
    color: var(--branco);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    text-decoration: none;
}

.button-modal .modal-btn {
    text-decoration: none;
    color: var(--branco);
    font-size: 1rem;
    border: 1px solid var(--border-btn);
    border-radius: 3rem;
    padding: 0.6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    transition: all 0.3s ease;
}

.button-modal .modal-btn:hover {
    background-color: var(--hover);
    color: var(--texto-hover);
}

.button-modal .modal-btn img {
    width: 1rem;
    height: 1rem;
    transition: all 0.3s ease;
}

.modal-btn:hover img {
    transform: translateY(-2px);
}

.modal.open {
    opacity: 1;
    z-index: 999;
    transition: opacity 0.3s ease, z-index 0s linear 0s;
}